.orders {
    position: relative;
    margin-top: 107px;
    width: 95%;
    display: flex;
    justify-content: center;
    margin-left: 2.5%;
    flex-direction: column;
}

.viewOrders {
    position: relative;
    width: 90%;
    margin-left: 5%;
    height: 40px;
}

.viewBtnOrders {
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    border: none;
    width: 325px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: var(--506365, #7A9E9F);
    font-size: 24px;
    color: #fff;
}

.tableContainer {
    position: relative;
    width: 97.5%;
    margin-left: 2.5%;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    overflow-y: auto;
}

.tableOrder {
    position: relative;
    width: 96%;
    margin-left: 30px;
    max-height: 500px;
    border-collapse: collapse;
}

.tableOrder td {
    border: 1px solid #CCC;
    padding: 10px;
    font-size: 19px;
}

.tableOrder th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.tableOrder th:last-child {
    border-left: none;
    border-right: none;
}
.tableOrder th:first-child {
    border-left: none;
    border-right: none;
}

.tableOrder td:first-child {
    border-left: none;
    border-right: none;
}
.tableOrder td:last-child {
    border-left: none;
    border-right: none;
}

.rowTitle {
    text-align: center;
}

.rowData {
    text-align: center;
}

.rowData:hover {
    cursor: pointer;
    background-color: #CCC;
}

@media only screen and (min-width: 550px) and (max-width: 1270px) {
    .viewBtnOrders {
        width: 250px;
        font-size: 18px;
    }

    .rowTitle {
        font-size: 14px;
    }

    .tableOrder td {
        font-size: 14px;
    }
}

.urlJump {
    overflow: hidden;
}

.modalOrder {
    position: absolute;
}