

.form {
    display: block;
    max-width: 804px;
    max-height: 952px;
    width: 804px;
    height: 952px;
    margin: auto;
    margin-top: 169px;
    padding: 32px;
    border-radius: 20px;
    box-shadow: 0 4px 5px #6f8b91;
    letter-spacing: 1px;
    background-color: #B7D3D4
}

.form_group_login {
    display: flex;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 0px;
    margin-top: 25%;
}

.form_label_login {
    position: absolute;
    margin-top: -30px;
    left: 370px;
    margin-bottom: 20px;
    color: grey;
    background-color: #B7D3D4;
}

.form_input_login {
    width: 58%;
    height: 60px;
    margin-left: 21%;
    margin-top: 0px;
    font-size: 200%;
    padding: 5px 0px 10px 5px;
    border:  none;
    border-radius: 20px;
    background-color: white;
    outline: none;
    text-indent: 15px;
}

.form_input_login:focus {
    border: 1px solid grey;
    box-shadow: none;
}

.form_group_pass {
    display: flex;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 0px;
    margin-top: 100px;
}

.form_label_pass {
    position: absolute ;
    margin-top: -30px;
    left: 365px;
    margin-bottom: 20px;
    color: grey;
    background-color: #B7D3D4;
}

.form_input_pass {
    width: 58%;
    height: 60px;
    margin-left: 21%;
    margin-top: 0px;
    font-size: 200%;
    padding: 5px 0px 10px 5px;
    border:  none;
    border-radius: 20px;
    background-color: white;
    outline: none;
    text-indent: 15px;
}

.form_input_pass:focus {
    border: 1px solid grey;
    box-shadow: none;
}

.form_button { 
    margin-top: 175px;
    margin-left: 21%;
    letter-spacing: 1px;
    height: 80px;
    width: 464px;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #4F6367;
    outline: none;
    cursor: pointer;
    width: 58%;
    font-size: 150%;
}
.form_button:focus {
background-color: rgb(41, 40, 40);
}


@media (max-width: 1024px) {
    .form {
        width: 600px;
        height: 750px;
    }

    .form_label_login {
        position: absolute;
        margin-top: -30px;
        left: 270px;
        margin-bottom: 20px;
        color: grey;
        background-color: #B7D3D4;
    }

    .form_label_pass {
        position: absolute;
        margin-top: -30px;
        left: 270px;
        margin-bottom: 20px;
        color: grey;
        background-color: #B7D3D4;
    }
}

@media (max-width: 425px) {
    
    .form {
        width: 400px;
        height: 700px;
    }

    .form_label_login {
        font-size: larger;
        left: 170px;
    }

    .form_label_pass {
        font-size: larger;
        left: 165px;
    }
}