.bb {
    display: flex;
    color:#282828;
    line-height: 2;
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
    width: 100%;
    justify-content: center;
}

.Buttons {
    display: flex;
    width: 90%;
    min-width: 1160px;
    padding-bottom: 29px;
    align-items: flex-start;
    background-color: #E8EED7;
    position: relative;
    /* margin-left: 3%;
    margin-right: 3%; */
    justify-content: center;
}

button {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.navMenuBtn {
    color: #000000;
    margin-top: 31px ;
    border-radius: 20px;
    place-items: center;
    text-align: center;
    width: 293px;
    height: 60px;
    border: none;
    background-color: #E8EED7;
    position: relative;
}

.navMenuBtn:hover {
    color: #FCFCFC;
    background-color: #4F6367
}

.line {
    margin-left: 5%;
    margin-right: 5%;
    min-width: 1080px;
    background-color: #506365;
    height: 1px;
    position: relative;
}

.navMenuText {
    
}