/* .bb {
    display: flex;
    color:#282828;
    line-height: 2;
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
    width: 100%;
    justify-content: center;
}

.Buttons {
    display: flex;
    width: 90%;
    min-width: 1160px;
    padding-bottom: 29px;
    align-items: flex-start;
    background-color: #E8EED7;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: center;
}

button {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.navMenuBtn {
    color: #000000;
    margin-top: 31px ;
    border-radius: 20px;
    place-items: center;
    text-align: center;
    width: 293px;
    height: 60px;
    border: none;
    background-color: #E8EED7;
    position: relative;
}

.navMenuBtn:hover {
    color: #FCFCFC;
    background-color: #4F6367
}

.line {
    margin-left: 5%;
    margin-right: 5%;
    min-width: 1080px;
    background-color: #506365;
    height: 1px;
    position: relative;
}

.navMenuText {
    
} */

.navMenu {
    display: flex;
    width: 95%;
    height: 90px;
    border-bottom: 1px solid #506365;
    margin-left: 2.5%;
    justify-content: space-between;
    padding-bottom: 29px;
}

.navMenuBtn {
    border: none;
    background: none;
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    height: 47px;
    font-size: 24px;
    width: 15%;
}

.navMenuBtn:hover {
    color: #fff;
    background: #506365;
}

@media only screen and (min-width: 1271px) and (max-width: 2000px) {
    .navMenuBtn {
        font-size: 20px;
        width: 16%;
        height: 56px;
    }
}

@media only screen and (min-width: 951px) and (max-width: 1270px) {
    .navMenuBtn {
        font-size: 19px;
        width: 18%;
    }
}

@media only screen and (min-width: 701px) and (max-width: 950px) {
    .navMenuBtn {
        font-size: 14px;
        width: 20%;
        height: 56px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
    .navMenuBtn {
        font-size: 12px;
        width: 21%;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .navMenu {
        padding-bottom: 20px;
    }
}